.main-container {
    &.quiz-calc {
        background: url(img/quiz/type-of-violence/type-of-violence-bg.png) no-repeat;

        .left-block {
            left: 90px;
            top: 177px;

            a {
                height: 45px;
                display: inline-block;
                text-align: center;
                cursor: pointer;
                box-sizing: border-box;
                padding-top: 5px;
            }

            .row:nth-child(2) {
                margin-top: 50px;
            }

            .row:last-child {
                margin-top: 53px;
            }

            .sex {
                width: 64px;

                &:hover {
                    background: url(img/quiz/type-of-violence/sex-hover.png) no-repeat center top;
                }
            }

            .age {
                width: 109px;

                &:hover {
                    background: url(img/quiz/type-of-violence/age-hover.png) no-repeat center top;
                }
            }

            .orientation {
                width: 141px;

                &:hover {
                    background: url(img/quiz/type-of-violence/orientation-hover.png) no-repeat center top;
                }
            }

            .openness {
                width: 151px;

                &:hover {
                    background: url(img/quiz/type-of-violence/openness-hover.png) no-repeat center top;
                }
            }

            .isolation {
                width: 142px;

                &:hover {
                    background: url(img/quiz/type-of-violence/isolation-hover.png) no-repeat center top;
                }
            }

            .common {
                width: 221px;
                text-align: left;
                padding-left: 15px;

                &:hover {
                    background: url(img/quiz/type-of-violence/common-hover.png) no-repeat center top;
                }
            }
        }

        .right-block {
            width: 321px;

            a {
                display: block;
                text-decoration: none;
                text-align: right;
                color: #000;
            }
        }

        a {
            font-family: B52, Georgia, serif;
            font-size: 22px;
        }
    }
}