<div class="main-container quiz-character">
    <home></home>
    <div class="controls">
        <a href="#!/quiz" class="prev">
            <img src="source/img/elements/arrow-left.png">
        </a>

        <!--<a ng-href="{{$ctrl.getCharacter() == undefined ? '' : '#!/sources'}}" class="next" ng-class="{true: 'disabled'}[$ctrl.getCharacter() == undefined]">-->
            <!--<img src="source/img/elements/arrow-right.png">-->
        <!--</a>-->
    </div>


    <div class="help-btn about-choose" ng-click="$ctrl.clickToOpen()">
        <img src="source/img/elements/reference.png">
    </div>

    <div class="characters-block">
        <div class="character-block">
            <a id="girl"
               href
               class="character girl"
               ng-click="$ctrl.setCharacter($event); $ctrl.getCharacter();"
               ng-class="$ctrl.getCharacter() === 'girl' ? 'active' : ''">
                <img src="source/img/quiz/choose/lgbtk-girl.png">
            </a>

            <div class="description">
                <span>ЛБТИК-девушка</span>
                <div class="help-btn" ng-click="$ctrl.clickToOpenGirl()">
                    <img src="source/img/elements/reference.png">
                </div>
            </div>
        </div>

        <div class="character-block">
            <a id="friend"
               href
               class="character friend"
               ng-click="$ctrl.setCharacter($event); $ctrl.getCharacter();"
               ng-class="$ctrl.getCharacter() === 'friend' ? 'active' : ''">
                <img src="source/img/quiz/choose/friend.png">
            </a>
            <div class="description">
                <span>Друг</span>
                <div class="help-btn" ng-click="$ctrl.clickToOpenFriend()">
                    <img src="source/img/elements/reference.png">
                </div>
            </div>
        </div>

        <div class="character-block">
            <a id="parent"
               href
               class="character parent"
               ng-click="$ctrl.setCharacter($event); $ctrl.getCharacter();"
               ng-class="$ctrl.getCharacter() === 'parent' ? 'active' : ''">
                <img src="source/img/quiz/choose/parent.png">
            </a>

            <div class="description">
                <span>Родитель</span>
                <div class="help-btn" ng-click="$ctrl.clickToOpenParent()">
                    <img src="source/img/elements/reference.png">
                </div>
            </div>
        </div>

        <div class="character-block">
            <a id="helper"
               href
               class="character helper"
               ng-click="$ctrl.setCharacter($event); $ctrl.getCharacter();"
               ng-class="$ctrl.getCharacter() === 'helper' ? 'active' : ''">
                <img src="source/img/quiz/choose/helper.png">
            </a>

            <div class="description">
                <span>Помогающий практик</span>
                <div class="help-btn" ng-click="$ctrl.clickToOpenHelper()">
                    <img src="source/img/elements/reference.png">
                </div>
            </div>

        </div>

    </div>


</div>