.main-container {
    &.main-screen {
        background: url(img/bg-start-page.png);
    }
}

.main-screen {
    .left-block {
        .btn {
            width: 195px;
            min-height: 52px;
            display: block;
            font-size: 29px;
            margin: 40px 0;
            padding-left: 15px;

            &:hover {
                background: url(img/elements/btn-hover.png);
                transition: .5s;
            }
        }
    }

    .right-block {
        .help-btn {
            &.about-btn {
                right: 125px;
                top: 35px;
            }

            &.broshure {
                right: 240px;
                top: 315px;
            }
        }
    }
    //
    //.help-block {
    //    width: 463px;
    //    height: 643px;
    //    position: absolute;
    //    background: url(img/modal-bg-start-page.png);
    //    padding: 50px 60px 100px 50px;
    //    box-sizing: border-box;
    //
    //    .help-content {
    //
    //    }
    //}
}

.ngdialog-content {
    width: 463px;
    height: 643px;
    margin: auto;
    position: relative;
    background: url(img/modal-bg-start-page.png);
    padding: 50px 60px 100px 50px;
    box-sizing: border-box;
}