<div class="main-container quiz-strategies"
     ng-class="{girl: $ctrl.character() == 'girl', friend: $ctrl.character() == 'friend', parent: $ctrl.character() == 'parent', helper: $ctrl.character() == 'helper'}">
    <home></home>
    <bookmark></bookmark>
    <div class="controls">
        <a href="#!/calculation" class="prev">
            <img src="source/img/elements/arrow-left.png">
        </a>

        <a href="#!/comments" class="next">
            <img src="source/img/elements/arrow-right.png">
        </a>
    </div>


    <div class="strategies-title">

    </div>


    <div class="left-block">
        <div class="help-btn strategies-about" ng-click="$ctrl.clickToOpenSurvivalHelp()">
            <img src="source/img/elements/reference.png">
        </div>

        <div class="strategy-btn survival"
           ng-click="$ctrl.clickToOpenSurvival()">
        </div>


        <div class="help-btn strategies-about" ng-click="$ctrl.clickToOpenCopingHelp()">
            <img src="source/img/elements/reference.png">
        </div>

        <div class="strategy-btn coping"
           ng-click="$ctrl.clickToOpenCoping()">
        </div>


        <div class="help-btn strategies-about" ng-click="$ctrl.clickToOpenResistanceHelp()">
            <img src="source/img/elements/reference.png">
        </div>

        <div class="strategy-btn resistance"
           ng-click="$ctrl.clickToOpenResistance()">
        </div>


        <div class="help-btn strategies-about" ng-click="$ctrl.clickToOpenMutualAidHelp()">
            <img src="source/img/elements/reference.png">
        </div>

        <div class="strategy-btn mutualaid"
           ng-click="$ctrl.clickToOpenMutualAid()">
        </div>
    </div>

    <!--todo: show chosen type of vilonce-->
    <div class="right-block ">
        <div class="title">{{$ctrl.getViolenceTypeName()}}</div>
    </div>



</div>