<div class="main-container quiz-strategies">
    <home></home>
    <bookmark></bookmark>
    <div class="controls">
        <a href="#!/results" class="prev">
            <img src="source/img/elements/arrow-left.png">
        </a>

        <a href="" class="next">
            <img src="source/img/elements/arrow-right.png">
        </a>
    </div>

    <!--<div class="help-btn strategies-about" ng-click="sources.clickToOpen()">-->
    <!--<img src="source/img/elements/reference.png">-->
    <!--</div>-->


    <div class="strategies-title">

    </div>


    <div class="left-block psychologist">

    </div>

    <div class="right-block lawyer">

    </div>



</div>