<div class="main-container quiz-sources">
    <home></home>
    <div class="controls">
        <a href="#!/quiz-character" class="prev">
            <img src="source/img/elements/arrow-left.png">
        </a>

        <a href="#!/calculation" class="next">
            <!--ng-show="$ctrl.allStacks()">-->
            <img src="source/img/elements/arrow-right.png">
        </a>
    </div>

    <div class="help-btn resources-about" ng-click="$ctrl.clickToOpenAbout()">
        <img src="source/img/elements/reference.png">
    </div>

    <div class="left-block">

        <div class="resource-type age">
            <h3>Возраст</h3>
            <titlebg></titlebg>

            <div class="options">
                <label ng-repeat="age in $ctrl.ages" for="{{age}}">
                    <input  type="radio"
                            ng-model="$ctrl.ageRes.val"
                            ng-value="age"
                            ng-change="$ctrl.checkAge()"
                            id="{{age}}"
                            name="age">
                    {{age}}
                </label>
            </div>

        </div>

        <!--isolation-->
        <div class="resource-type isolation">
            <h3>Изоляция</h3>
            <titlebg></titlebg>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenSocial()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Социальная</span>
                <div class="options">
                    <label ng-repeat="social in $ctrl.socials" for="{{social}}">
                        <input  type="radio"
                                ng-model="$ctrl.socialRes.val"
                                ng-value="social"
                                ng-change="$ctrl.checkIsolation()"
                                id="{{social}}"
                                name="social">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenCognitive()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Когнитивная</span>
                <div class="options">
                    <label ng-repeat="cognitive in $ctrl.cognitives" for="{{cognitive}}">
                        <input  type="radio"
                                ng-model="$ctrl.cognitiveRes.val"
                                ng-value="cognitive"
                                ng-change="$ctrl.checkIsolation()"
                                id="{{cognitive}}"
                                name="cognitive">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenEmotional()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Эмоциональная</span>
                <div class="options">
                    <label ng-repeat="emotional in $ctrl.emotionals" for="{{emotional}}">
                        <input  type="radio"
                                ng-model="$ctrl.emotionalRes.val"
                                ng-value="emotional"
                                ng-change="$ctrl.checkIsolation()"
                                id="{{emotional}}"
                                name="emotional">
                    </label>
                </div>
            </div>
        </div>
        <!--isolation-->

        <!--openness-->
        <div class="resource-type openness">
            <h3>Открытость</h3>
            <titlebg></titlebg>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenImage()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Имидж</span>
                <div class="options">
                    <label ng-repeat="image in $ctrl.images" for="{{image}}">
                        <input  type="radio"
                                ng-model="$ctrl.imageRes.val"
                                ng-value="image"
                                ng-change="$ctrl.checkOpenness()"
                                id="{{image}}"
                                name="image">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenFamilies()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Каминаут в семье</span>
                <div class="options">
                    <label ng-repeat="family in $ctrl.families" for="{{family}}">
                        <input  type="radio"
                                ng-model="$ctrl.familyRes.val"
                                ng-value="family"
                                ng-change="$ctrl.checkOpenness()"
                                id="{{family}}"
                                name="family">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenWorks()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Каминаут в группе</span>
                <div class="options">
                    <label ng-repeat="work in $ctrl.works" for="{{work}}">
                        <input  type="radio"
                                ng-model="$ctrl.workRes.val"
                                ng-value="work"
                                ng-change="$ctrl.checkOpenness()"
                                id="{{work}}"
                                name="work">
                    </label>
                </div>
            </div>
        </div>
        <!--openness-->


    </div>

    <div class="right-block">

        <!--common sources-->
        <div class="resource-type common">
            <h3>Общие ресурсы</h3>
            <titlebg></titlebg>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenLocations()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Безопасность дома</span>
                <div class="options">
                    <label ng-repeat="location in $ctrl.locations" for="{{location}}">
                        <input  type="radio"
                                ng-model="$ctrl.locationRes.val"
                                ng-value="location"
                                ng-change="$ctrl.checkCommon()"
                                id="{{location}}"
                                name="location">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenHomophobias()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Принятие себя</span>
                <div class="options">
                    <label ng-repeat="homophobia in $ctrl.homophobias" for="{{homophobia}}">
                        <input  type="radio"
                                ng-model="$ctrl.homophobiaRes.val"
                                ng-value="homophobia"
                                ng-change="$ctrl.checkCommon()"
                                id="{{homophobia}}"
                                name="homophobia">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenNonstandards()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Нейронормативность</span>
                <div class="options">
                    <label ng-repeat="nonstandard in $ctrl.nonstandards" for="{{nonstandard}}">
                        <input  type="radio"
                                ng-model="$ctrl.nonstandardRes.val"
                                ng-value="nonstandard"
                                ng-change="$ctrl.checkCommon()"
                                id="{{nonstandard}}"
                                name="nonstandard">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenHealths()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Здоровье</span>
                <div class="options">
                    <label ng-repeat="health in $ctrl.healths" for="{{health}}">
                        <input  type="radio"
                                ng-model="$ctrl.healthRes.val"
                                ng-value="health"
                                ng-change="$ctrl.checkCommon()"
                                id="{{health}}"
                                name="health">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenReligions()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Этнорелигиозная принадлежность</span>
                <div class="options">
                    <label ng-repeat="religion in $ctrl.religions" for="{{religion}}">
                        <input  type="radio"
                                ng-model="$ctrl.religionRes.val"
                                ng-value="religion"
                                ng-change="$ctrl.checkCommon()"
                                id="{{religion}}"
                                name="religion">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenFinancial()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Материальная обеспеченность</span>
                <div class="options">
                    <label ng-repeat="financial in $ctrl.financials" for="{{financial}}">
                        <input  type="radio"
                                ng-model="$ctrl.financialRes.val"
                                ng-value="financial"
                                ng-change="$ctrl.checkCommon()"
                                id="{{financial}}"
                                name="financial">
                    </label>
                </div>
            </div>
        </div>
        <!--common sources-->

    </div>

</div>