<div class="main-container quiz-sources">
    <home></home>
    <div class="controls">
        <a href="#!/quiz-character" class="prev">
            <img src="source/img/elements/arrow-left.png">
        </a>

        <a href="#!/calculation" disabled="true" class="next">
            <img src="source/img/elements/arrow-right.png">
        </a>
    </div>

    <div class="help-btn resources-about" ng-click="$ctrl.clickToOpen()">
        <img src="source/img/elements/reference.png">
    </div>

    <div class="left-block">

        <div class="resource-type age">
            <h3>Возраст</h3>
            <titlebg></titlebg>

            <div class="options">
                <label ng-repeat="age in $ctrl.ages" for="{{age}}">
                    <input  type="radio"
                            ng-model="$ctrl.ageRes.val"
                            ng-value="age"
                            ng-change="$ctrl.checkAge()"
                            id="{{age}}"
                            name="age">
                    {{age}}
                </label>
            </div>

        </div>

        <!--isolation-->
        <div class="resource-type isolation">
            <h3>Изоляция</h3>
            <titlebg></titlebg>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Социальная</span>
                <label ng-repeat="social in $ctrl.socials" for="{{social}}">
                    <input  type="radio"
                            ng-model="$ctrl.socialRes.val"
                            ng-value="social"
                            ng-change="$ctrl.checkIsolation()"
                            id="{{social}}"
                            name="social">
                </label>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Когнитивная</span>

                <label ng-repeat="cognitive in $ctrl.cognitives" for="{{cognitive}}">
                    <input  type="radio"
                            ng-model="$ctrl.cognitiveRes.val"
                            ng-value="cognitive"
                            ng-change="$ctrl.checkIsolation()"
                            id="{{cognitive}}"
                            name="cognitive">
                </label>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Эмоциональная</span>

                <label ng-repeat="emotional in $ctrl.emotionals" for="{{emotional}}">
                    <input  type="radio"
                            ng-model="$ctrl.emotionalRes.val"
                            ng-value="emotional"
                            ng-change="$ctrl.checkIsolation()"
                            id="{{emotional}}"
                            name="emotional">
                </label>
            </div>
        </div>
        <!--isolation-->

        <!--openness-->
        <div class="resource-type openness">
            <h3>Открытость</h3>
            <titlebg></titlebg>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Имидж</span>

                <label ng-repeat="image in $ctrl.images" for="{{image}}">
                    <input  type="radio"
                            ng-model="$ctrl.imageRes.val"
                            ng-value="image"
                            ng-change="$ctrl.checkOpenness()"
                            id="{{image}}"
                            name="image">
                </label>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Каминаут в семье</span>

                <label ng-repeat="family in $ctrl.families" for="{{family}}">
                    <input  type="radio"
                            ng-model="$ctrl.familyRes.val"
                            ng-value="family"
                            ng-change="$ctrl.checkOpenness()"
                            id="{{family}}"
                            name="family">
                </label>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Каминаут в коллективе</span>

                <label ng-repeat="work in $ctrl.works" for="{{work}}">
                    <input  type="radio"
                            ng-model="$ctrl.workRes.val"
                            ng-value="work"
                            ng-change="$ctrl.checkOpenness()"
                            id="{{work}}"
                            name="work">
                </label>
            </div>
        </div>
        <!--openness-->


    </div>

    <div class="right-block">

        <!--common sources-->
        <div class="resource-type common">
            <h3>Общие ресурсы</h3>
            <titlebg></titlebg>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Нейронормативность/ненормативность</span>

                <label ng-repeat="nonstandard in $ctrl.nonstandards" for="{{nonstandard}}">
                    <input  type="radio"
                            ng-model="$ctrl.nonstandardRes.val"
                            ng-value="nonstandard"
                            ng-change="$ctrl.checkCommon()"
                            id="{{nonstandard}}"
                            name="nonstandard">
                </label>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Здоровье</span>

                <label ng-repeat="health in $ctrl.healths" for="{{health}}">
                    <input  type="radio"
                            ng-model="$ctrl.healthRes.val"
                            ng-value="health"
                            ng-change="$ctrl.checkCommon()"
                            id="{{health}}"
                            name="health">
                </label>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Материальная независимость</span>

                <label ng-repeat="financial in $ctrl.financials" for="{{financial}}">
                    <input  type="radio"
                            ng-model="$ctrl.financialRes.val"
                            ng-value="financial"
                            ng-change="$ctrl.checkCommon()"
                            id="{{financial}}"
                            name="financial">
                </label>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Место жительства</span>

                <label ng-repeat="location in $ctrl.locations" for="{{location}}">
                    <input  type="radio"
                            ng-model="$ctrl.locationRes.val"
                            ng-value="location"
                            ng-change="$ctrl.checkCommon()"
                            id="{{location}}"
                            name="location">
                </label>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Этнорелигиозная принадлежность</span>

                <label ng-repeat="religion in $ctrl.religions" for="{{religion}}">
                    <input  type="radio"
                            ng-model="$ctrl.religionRes.val"
                            ng-value="religion"
                            ng-change="$ctrl.checkCommon()"
                            id="{{religion}}"
                            name="religion">
                </label>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Внутренняя гомофобия</span>

                <label ng-repeat="homophobia in $ctrl.homophobias" for="{{homophobia}}">
                    <input  type="radio"
                            ng-model="$ctrl.homophobiaRes.val"
                            ng-value="homophobia"
                            ng-change="$ctrl.checkCommon()"
                            id="{{homophobia}}"
                            name="homophobia">
                </label>
            </div>
        </div>
        <!--common sources-->

    </div>

</div>