<div class="main-container quiz-sources">
    <home></home>
    <div class="controls">
        <a href="#!/quiz-character" class="prev">
            <img src="source/img/elements/arrow-left.png">
        </a>

        <a href="#!/calculation"
           class="next"
           ng-class="{true: 'disabled'}[$ctrl.allStacks() == false]"
           ng-href="{{$ctrl.allStacks() == false ? '' : '#!/calculation'}}">
            <img src="source/img/elements/arrow-right.png">
        </a>
    </div>

    <div class="help-btn resources-about" ng-click="$ctrl.clickToOpenAbout()">
        <img src="source/img/elements/reference.png">
    </div>

    <div class="left-block">

        <div class="resource-type age">
            <h3>Возраст</h3>
            <titlebg fill="$ctrl.getAgeStack()"></titlebg>

            <div class="options">
                <label ng-repeat="age in $ctrl.ages" for="{{age}}"
                       ng-class="$ctrl.getAge() === age ? 'active' : ''">
                    <input  type="radio"
                            ng-model="$ctrl.ageRes.val"
                            ng-value="age"
                            ng-change="$ctrl.checkAge()"
                            id="{{age}}"
                            name="age">
                    {{age}}
                </label>
            </div>

        </div>

        <!--isolation-->
        <div class="resource-type isolation">
            <h3>Изоляция</h3>
            <titlebg fill="$ctrl.getIsolationStack()"></titlebg>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenSocial()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Социальная</span>
                <div class="options">
                    <label ng-repeat="social in $ctrl.socials" for="social{{social}}">
                        <input  type="radio"
                                ng-model="$ctrl.socialRes.val"
                                ng-value="social"
                                ng-change="$ctrl.checkIsolation()"
                                id="social{{social}}"
                                name="social">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenCognitive()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Когнитивная</span>
                <div class="options">
                    <label ng-repeat="cognitive in $ctrl.cognitives" for="cognitive{{cognitive}}">
                        <input  type="radio"
                                ng-model="$ctrl.cognitiveRes.val"
                                ng-value="cognitive"
                                ng-change="$ctrl.checkIsolation()"
                                id="cognitive{{cognitive}}"
                                name="cognitive">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenEmotional()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Эмоциональная</span>
                <div class="options">
                    <label ng-repeat="emotional in $ctrl.emotionals" for="emotional{{emotional}}">
                        <input  type="radio"
                                ng-model="$ctrl.emotionalRes.val"
                                ng-value="emotional"
                                ng-change="$ctrl.checkIsolation()"
                                id="emotional{{emotional}}"
                                name="emotional">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
        </div>
        <!--isolation-->

        <!--openness-->
        <div class="resource-type openness">
            <h3>Открытость</h3>
            <titlebg></titlebg>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenImage()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Имидж</span>
                <div class="options">
                    <label ng-repeat="image in $ctrl.images" for="image{{image}}">
                        <input  type="radio"
                                ng-model="$ctrl.imageRes.val"
                                ng-value="image"
                                ng-change="$ctrl.checkOpenness()"
                                id="image{{image}}"
                                name="image">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenFamilies()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Открытость в семье</span>
                <div class="options">
                    <label ng-repeat="family in $ctrl.families" for="family{{family}}">
                        <input  type="radio"
                                ng-model="$ctrl.familyRes.val"
                                ng-value="family"
                                ng-change="$ctrl.checkOpenness()"
                                id="family{{family}}"
                                name="family">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenWorks()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Открытость в коллективе</span>
                <div class="options">
                    <label ng-repeat="work in $ctrl.works" for="work{{work}}">
                        <input  type="radio"
                                ng-model="$ctrl.workRes.val"
                                ng-value="work"
                                ng-change="$ctrl.checkOpenness()"
                                id="work{{work}}"
                                name="work">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
        </div>
        <!--openness-->


    </div>

    <div class="right-block">

        <!--common sources-->
        <div class="resource-type common">
            <h3>Общие ресурсы</h3>
            <titlebg></titlebg>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenLocations()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Безопасность дома</span>
                <div class="options">
                    <label ng-repeat="location in $ctrl.locations" for="location{{location}}">
                        <input  type="radio"
                                ng-model="$ctrl.locationRes.val"
                                ng-value="location"
                                ng-change="$ctrl.checkCommon()"
                                id="location{{location}}"
                                name="location">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenHomophobias()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Принятие себя</span>
                <div class="options">
                    <label ng-repeat="homophobia in $ctrl.homophobias" for="homophobia{{homophobia}}">
                        <input  type="radio"
                                ng-model="$ctrl.homophobiaRes.val"
                                ng-value="homophobia"
                                ng-change="$ctrl.checkCommon()"
                                id="homophobia{{homophobia}}"
                                name="homophobia">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenNonstandards()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Нейронормативность</span>
                <div class="options">
                    <label ng-repeat="nonstandard in $ctrl.nonstandards" for="nonstandard{{nonstandard}}">
                        <input  type="radio"
                                ng-model="$ctrl.nonstandardRes.val"
                                ng-value="nonstandard"
                                ng-change="$ctrl.checkCommon()"
                                id="nonstandard{{nonstandard}}"
                                name="nonstandard">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenHealths()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Здоровье</span>
                <div class="options">
                    <label ng-repeat="health in $ctrl.healths" for="health{{health}}">
                        <input  type="radio"
                                ng-model="$ctrl.healthRes.val"
                                ng-value="health"
                                ng-change="$ctrl.checkCommon()"
                                id="health{{health}}"
                                name="health">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenReligions()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Этнорелигиозная принадлежность</span>
                <div class="options">
                    <label ng-repeat="religion in $ctrl.religions" for="religion{{religion}}">
                        <input  type="radio"
                                ng-model="$ctrl.religionRes.val"
                                ng-value="religion"
                                ng-change="$ctrl.checkCommon()"
                                id="religion{{religion}}"
                                name="religion">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="$ctrl.clickToOpenFinancial()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Материальная обеспеченность</span>
                <div class="options">
                    <label ng-repeat="financial in $ctrl.financials" for="financial{{financial}}">
                        <input  type="radio"
                                ng-model="$ctrl.financialRes.val"
                                ng-value="financial"
                                ng-change="$ctrl.checkCommon()"
                                id="financial{{financial}}"
                                name="financial">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
        </div>
        <!--common sources-->

    </div>

</div>