<div class="main-container main-screen">
    <div class="left-block">
        <a href="#!/quiz" class="btn">- Квест</a>
        <a href="#!/reminders" class="btn">- Памятки</a>
        <a href="#!/contacts" class="btn">- Контакты</a>
    </div>
    <div class="right-block">
        <div class="help-btn about-btn" ng-click="$ctrl.clickToOpen()"><img src="source/img/elements/reference.png"
                                                                           alt=""></div>
        <!--<div class="help-btn broshure"><img src="source/img/elements/reference.png" alt=""></div>-->
    </div>
</div>