<div class="main-container quiz-calc">
    <home></home>
    <bookmark></bookmark>
    <div class="controls">
        <a href="#!/sources" class="prev">
            <img src="source/img/elements/arrow-left.png">
        </a>

        <a href="#!/strategies" class="next">
            <img src="source/img/elements/arrow-right.png">
        </a>
    </div>

    <div class="left-block">
        <div class="row">
            <a id="sex" class="sex" ng-click="$ctrl.clickToOpenSex()">Пол</a>
            <a id="age" class="age" ng-click="$ctrl.clickToOpenAge()">Возраст</a>
            <a id="orientation" class="orientation" ng-click="$ctrl.clickToOpenOrientation()">Ориентация</a>
        </div>
        <div class="row">
            <a id="openness" class="openness" ng-click="$ctrl.clickToOpenOpenness()">Открытость</a>
            <a id="isolation" class="isolation" ng-click="$ctrl.clickToOpenIsolation()">Изоляция</a>
        </div>
        <div class="row">
            <a id="common" class="common" ng-click="$ctrl.clickToOpenCommon()">Общие Ресурсы</a>
        </div>
    </div>

    <div class="right-block">
        <!--<div class="help-btn type" ng-click="$ctrl.clickToOpenType()">-->
            <!--<img src="source/img/elements/reference.png">-->
        <!--</div>-->
        <div class="align">
            <div class="help-btn" ng-click="$ctrl.clickToOpenHomeViolenceHelp()">
                <img src="source/img/elements/reference.png">
            </div>
            <a href ng-click="$ctrl.clickToOpenHomeViolence()" id="homeViolence" class="violence">- Домашнее насилие
                <span class="active"></span>
            </a>

            <div class="help-btn" ng-click="$ctrl.clickToOpenPartnerViolenceHelp()">
                <img src="source/img/elements/reference.png">
            </div>
            <a href ng-click="$ctrl.clickToOpenPartnerViolence()" id="PartnerViolence" class="violence">- Партнерское насилие
                <span class="active"></span>
            </a>

            <div class="help-btn" ng-click="$ctrl.clickToOpenStalkingHelp()">
                <img src="source/img/elements/reference.png">
            </div>
            <a href ng-click="$ctrl.clickToOpenStalking()" id="stulking" class="stulking">- Сталкинг
                <span class="active"></span>
            </a>

            <div class="help-btn" ng-click="$ctrl.clickToOpenCilHelp()">
                <img src="source/img/elements/reference.png">
            </div>
            <a href ng-click="$ctrl.clickToOpenCil()" id="cil" class="cil">- Корректирующее изнасилование
                <span class="active"></span>
            </a>

            <div class="help-btn" ng-click="$ctrl.clickToOpenBullingHelp()">
                <img src="source/img/elements/reference.png">
            </div>
            <a href ng-click="$ctrl.clickToOpenBulling()" id="bulling" class="bulling">- Буллинг
                <span class="active"></span>
            </a>

            <div class="help-btn" ng-click="$ctrl.clickToOpenDiscriminationHelp()">
                <img src="source/img/elements/reference.png">
            </div>
            <a href ng-click="$ctrl.clickToOpenDiscrimination()" id="discrimination" class="discrimination">- Насилие со стороны специалистов
                <span class="active"></span>
            </a>
        </div>

    </div>





</div>
