<div class="main-container quiz-calc">
    <home></home>
    <bookmark></bookmark>
    <div class="controls">
        <a href="#!/sources" class="prev">
            <img src="source/img/elements/arrow-left.png">
        </a>

        <a href="#!/strategies" class="next">
            <img src="source/img/elements/arrow-right.png">
        </a>
    </div>

    <div class="left-block">
        <div class="row">
            <a id="sex" class="sex" ng-click="$ctrl.clickToOpenSex()">Пол</a>
            <a id="age" class="age" ng-click="$ctrl.clickToOpenAge()">Возраст</a>
            <a id="orientation" class="orientation" ng-click="$ctrl.clickToOpenOrientation()">Ориентация</a>
        </div>
        <div class="row">
            <a id="openness" class="openness" ng-click="$ctrl.clickToOpenOpenness()">Открытость</a>
            <a id="isolation" class="isolation" ng-click="$ctrl.clickToOpenIsolation()">Изоляция</a>
        </div>
        <div class="row">
            <a id="common" class="common" ng-click="$ctrl.clickToOpenCommon()">Общие Ресурсы</a>
        </div>
    </div>

    <div class="right-block">
        <!--<div class="help-btn type" ng-click="$ctrl.clickToOpenType()">-->
            <!--<img src="source/img/elements/reference.png">-->
        <!--</div>-->
        <div class="align">
            <div class="help-btn" ng-click="$ctrl.clickToOpenhomeViolence()">
                <img src="source/img/elements/reference.png">
            </div>
            <a href="#!/strategies" id=" homeViolence" class="violence">- Домашнее насилие
                <span class="active"></span>
            </a>

            <div class="help-btn" ng-click="$ctrl.clickToOpenPartnerViolence()">
                <img src="source/img/elements/reference.png">
            </div>
            <a href="#!/strategies" id="PartnerViolence" class="violence">- Партнерское насилие
                <span class="active"></span>
            </a>

            <div class="help-btn" ng-click="$ctrl.clickToOpenstulking()">
                <img src="source/img/elements/reference.png">
            </div>
            <a href="#!/strategies" id="stulking" class="stulking">- Сталкинг
                <span class="active"></span>
            </a>

            <div class="help-btn" ng-click="$ctrl.clickToOpencil()">
                <img src="source/img/elements/reference.png">
            </div>
            <a href="#!/strategies" id="cil" class="cil">- Корректирующее изнасилование
                <span class="active"></span>
            </a>

            <div class="help-btn" ng-click="$ctrl.clickToOpenbulling()">
                <img src="source/img/elements/reference.png">
            </div>
            <a href="#!/strategies" id="bulling" class="bulling">- Буллинг
                <span class="active"></span>
            </a>

            <!--<a href="#!/strategies" id="speech" class="speech">- Хейт-спич-->
                <!--<span class="active"></span>-->
            <!--</a>-->

            <div class="help-btn" ng-click="$ctrl.clickToOpendiscrimination()">
                <img src="source/img/elements/reference.png">
            </div>
            <a href="#!/strategies" id="discrimination" class="discrimination">- Насилие со стороны специалистов
                <span class="active"></span>
            </a>
        </div>

    </div>





</div>
