<div class="main-container quiz-calc">
    <home></home>
    <bookmark></bookmark>
    <div class="controls">
        <a href="#!/sources" class="prev">
            <img src="source/img/elements/arrow-left.png">
        </a>

        <a href="#!/strategies" class="next">
            <img src="source/img/elements/arrow-right.png">
        </a>
    </div>

    <div class="left-block">
        <div class="row">
            <a id="sex" class="sex">Пол</a>
            <a id="age" class="age">Возраст</a>
            <a id="orientation" class="orientation">Ориентация</a>
        </div>
        <div class="row">
            <a id="openness" class="openness">Открытость</a>
            <a id="isolation" class="isolation">Изоляция</a>
        </div>
        <div class="row">
            <a id="common" class="common">Общие Ресурсы</a>
        </div>
    </div>

    <div class="right-block">
        <div class="align">
            <a href="" id="cil" class="cil">- КИЛ
                <span class="active"></span>
            </a>
            <a href="" id="bulling" class="bulling">- Буллинг
                <span class="active"></span>
            </a>
            <a href="" id="stulking" class="stulking">- Сталкинг
                <span class="active"></span>
            </a>
            <a href="" id="speech" class="speech">- Хейт-спич
                <span class="active"></span>
            </a>
        </div>

        <a href="" id="violence" class="violence">- Домашнее насилие
            <span class="active"></span>
        </a>
        <a href="" id="discrimination" class="discrimination">- Дискриминация со стороны специалистов
            <span class="active"></span>
        </a>
    </div>





</div>
