<div class="main-container quiz-sources" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <linkToHomepage></linkToHomepage>
    <controls></controls>

    <div class="help-btn resources-about" ng-click="sources.clickToOpen()">
        <img src="source/img/elements/reference.png">
    </div>

    <div class="left-block">

        <div class="resource-type age">
            <h3>Возраст</h3>
            <titlebg></titlebg>

        </div>

        <!--isolation-->
        <div class="resource-type isolation">
            <h3>Изоляция</h3>
            <titlebg></titlebg>

            <div class="row">
                <div class="help-btn" ng-click="sources.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Социальная</span>
                <label><input type="radio" name="social" value="1"></label>
                <label><input type="radio" name="social" value="2"></label>
                <label><input type="radio" name="social" value="3"></label>
                <label><input type="radio" name="social" value="4"></label>
               <label><input type="radio" name="social" value="5"></label>
            </div>

            <div class="row">
                <div class="help-btn" ng-click="sources.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Когнитивная</span>
                <input type="radio" name="cognitive" value="1">
                <input type="radio" name="cognitive" value="2">
                <input type="radio" name="cognitive" value="3">
                <input type="radio" name="cognitive" value="4">
                <input type="radio" name="cognitive" value="5">
            </div>

            <div class="row">
                <div class="help-btn" ng-click="sources.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Эмоциональная</span>
                <input type="radio" name="emotional" value="1">
                <input type="radio" name="emotional" value="2">
                <input type="radio" name="emotional" value="3">
                <input type="radio" name="emotional" value="4">
                <input type="radio" name="emotional" value="5">
            </div>
        </div>
        <!--isolation-->

        <!--openness-->
        <div class="resource-type openness">
            <h3>Открытость</h3>
            <titlebg></titlebg>

            <div class="row">
                <div class="help-btn" ng-click="sources.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Имидж</span>
                <input type="radio" name="image" value="1">
                <input type="radio" name="image" value="2">
                <input type="radio" name="image" value="3">
                <input type="radio" name="image" value="4">
                <input type="radio" name="image" value="5">
            </div>

            <div class="row">
                <div class="help-btn" ng-click="sources.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Каминаут в семье</span>
                <input type="radio" name="family" value="1">
                <input type="radio" name="family" value="2">
                <input type="radio" name="family" value="3">
                <input type="radio" name="family" value="4">
                <input type="radio" name="family" value="5">
            </div>

            <div class="row">
                <div class="help-btn" ng-click="sources.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Каминаут в коллективе</span>
                <input type="radio" name="work" value="1">
                <input type="radio" name="work" value="2">
                <input type="radio" name="work" value="3">
                <input type="radio" name="work" value="4">
                <input type="radio" name="work" value="5">
            </div>
        </div>
        <!--openness-->




    </div>

    <div class="right-block">

        <!--common resources-->
        <div class="resource-type common">
            <h3>Общие ресурсы</h3>
            <titlebg></titlebg>

            <div class="row">
                <div class="help-btn" ng-click="sources.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Нейронормативность/ненормативность</span>
                <input type="radio" name="nonstandard" value="1">
                <input type="radio" name="nonstandard" value="2">
                <input type="radio" name="nonstandard" value="3">
                <input type="radio" name="nonstandard" value="4">
                <input type="radio" name="nonstandard" value="5">
            </div>

            <div class="row">
                <div class="help-btn" ng-click="sources.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Здоровье</span>
                <input type="radio" name="health" value="1">
                <input type="radio" name="health" value="2">
                <input type="radio" name="health" value="3">
                <input type="radio" name="health" value="4">
                <input type="radio" name="health" value="5">
            </div>

            <div class="row">
                <div class="help-btn" ng-click="sources.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Материальная независимость</span>
                <input type="radio" name="financial" value="1">
                <input type="radio" name="financial" value="2">
                <input type="radio" name="financial" value="3">
                <input type="radio" name="financial" value="4">
                <input type="radio" name="financial" value="5">
            </div>

            <div class="row">
                <div class="help-btn" ng-click="sources.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Место жительства</span>
                <input type="radio" name="location" value="1">
                <input type="radio" name="location" value="2">
                <input type="radio" name="location" value="3">
                <input type="radio" name="location" value="4">
                <input type="radio" name="location" value="5">
            </div>

            <div class="row">
                <div class="help-btn" ng-click="sources.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Этнорелигиозная принадлежность</span>
                <input type="radio" name="religion" value="1">
                <input type="radio" name="religion" value="2">
                <input type="radio" name="religion" value="3">
                <input type="radio" name="religion" value="4">
                <input type="radio" name="religion" value="5">
            </div>

            <div class="row">
                <div class="help-btn" ng-click="sources.clickToOpen()">
                    <img src="source/img/elements/reference.png">
                </div>
                <span>Внутренняя гомофобия</span>
                <input type="radio" name="homophobia" value="1">
                <input type="radio" name="homophobia" value="2">
                <input type="radio" name="homophobia" value="3">
                <input type="radio" name="homophobia" value="4">
                <input type="radio" name="homophobia" value="5">
            </div>
        </div>
        <!--common resources-->

    </div>

</div>