<div class="main-container contacts-screen">
    <home></home>
    <div class="contacts-screen">
        <div class="left-block">
            <ol class="contacts-list">
                <li>
                    <p class="title" ng-click="$ctrl.chooseContact('deti404')">«Дети-404»</p>
                </li>
                <li>
                    <p class="title" ng-click="$ctrl.chooseContact('territory')">«Твоя территория»</p>
                </li>
                <li>
                    <p class="title" ng-click="$ctrl.chooseContact('doverie')">Всероссийская служба детского телефона доверия </p>
                </li>
                <li>
                    <p class="title" ng-click="$ctrl.chooseContact('deti-online')">Линия помощи «Дети онлайн»</p>
                </li>
                <li>
                    <p class="title" ng-click="$ctrl.chooseContact('hotline')">Горячая линия для женщин, пострадавших от домашнего насилия</p>
                </li>
                <li>
                    <p class="title" ng-click="$ctrl.chooseContact('nasiliunet')">«Насилию.нет»</p>
                </li>
                <li>
                    <p class="title" ng-click="$ctrl.chooseContact('crisiscenter')">ИНГО «Кризисный центр для женщин» (СПб)</p>
                </li>
                <li>
                    <p class="title" ng-click="$ctrl.chooseContact('sisters')">Центр «Сёстры» (Мск)</p>
                </li>
                <li>
                    <p class="title" ng-click="$ctrl.chooseContact('lgbt-network')">«Российская ЛГБТ-Сеть»</p>
                </li>
                <li>
                    <p class="title" ng-click="$ctrl.chooseContact('comingout')">«Выход» (СПб)</p>
                </li>

                <li>
                    <p class="title" ng-click="$ctrl.chooseContact('action')">«Действие» (СПб)</p>
                </li>

                <li>
                    <p class="title" ng-click="$ctrl.chooseContact('lgbtiq')">«Ресурс ЛГБТКИА Москва» (Мск)</p>
                </li>
            </ol>
        </div>

        <div class="right-block">
            <div class="content" ng-show="$ctrl.contact == 'deti404'">
                Общественный интернет-проект поддержки гомосексуальных, бисексуальных и трансгендерных подростков
                <a href="vk.com/deti404_v4" target="_blank">vk.com/deti404_v4</a>
                <a href="www.facebook.com/children.404" target="_blank">www.facebook.com/children.404</a>
                <a href="deti-404.com" target="_blank">deti-404.com</a>
            </div>

            <div class="content" ng-show="$ctrl.contact == 'territory'">
                Психологическая помощь онлайн для подростков и молодежи до 23 лет
                <a href="helpteens.ru" target="_blank">helpteens.ru</a>
                <a href="vk.com/bf_tvoya_territoria" target="_blank">vk.com/bf_tvoya_territoria</a>
                <a href="www.facebook.com/tvoyaterritoria.online" target="_blank">www.facebook.com/tvoyaterritoria.online</a>
            </div>

            <div class="content" ng-show="$ctrl.contact == 'doverie'">8-800-2000-122 (круглосуточно)</div>

            <div class="content" ng-show="$ctrl.contact == 'deti-online'">
                Любые виды помощи и консультаций для детей, которые столкнулись с опасностью или негативной ситуацией во время пользования Интернетом или мобильной связью
                <br>
                8-800-25-000-15 (по будням с 9:00 до 18:00)
                <a href="detionline.com" target="_blank">detionline.com</a>
            </div>

            <div class="content" ng-show="$ctrl.contact == 'hotline'">
                Первый всероссийский бесплатный телефон доверия для женщин, подвергшихся домашнему насилию (при поддержке центра «АННА»)
                <br>
                8-800-7000-600 (ежедневно с 9:00 до 21:00)
            </div>

            <div class="content" ng-show="$ctrl.contact == 'nasiliunet'">
                Информационный портал о домашнем насилии, интерактивная карта помощи по кризисным центрам для женщин и соответствующее мобильное приложение
                <a href="nasiliu.net" target="_blank">nasiliu.net</a>
            </div>

            <div class="content" ng-show="$ctrl.contact == 'crisiscenter'">
                Кризисный центр для женщин, переживших домашнее/партнерское или сексуальное насилие <br>
                Телефон доверия - 8-812-327-30-00 (по будням с 11:00 до 18:00)
                <a href=crisiscenter.ru" target="_blank">crisiscenter.ru</a>
                <a href="www.facebook.com/crisiscenterspb" target="_blank">www.facebook.com/crisiscenterspb</a>
            </div>

            <div class="content" ng-show="$ctrl.contact == 'sisters'">
                Независимый благотворительный Центр помощи пережившим сексуальное насилие <br>
                Телефон доверия - 8-499-901-02-01 (по будням с 10:00 до 20:00)
                <a href=vk.com/sistershelp1994" target="_blank">vk.com/sistershelp1994</a>
                <a href="www.facebook.com/syostri1994" target="_blank">www.facebook.com/syostri1994</a>
            </div>

            <div class="content" ng-show="$ctrl.contact == 'lgbt-network'">
                Крупнейшая в России межрегиональная ЛГБТ-организация <br>
                Горячая линия - 8-800-555-73-74 (ежедневно с 15:00 до 21:00)
                <a href=www.lgbtnet.org" target="_blank">www.lgbtnet.org</a>
                <a href="vk.com/lgbtrussia" target="_blank">vk.com/lgbtrussia</a>
                <a href="www.facebook.com/lgbtnet" target="_blank">www.facebook.com/lgbtnet</a>
            </div>

            <div class="content" ng-show="$ctrl.contact == 'comingout'">
                Комьюнити-центр, юридическая и психологическая помощь лесбиянкам, геям, бисексуалкам/бисексуалам и трансгендерам, а также  группа поддержки для родителей ЛГБТ-людей «Родительский клуб»

                <a href="comingoutspb.com" target="_blank">comingoutspb.com</a>
                <a href="vk.com/comingoutspb" target="_blank">vk.com/comingoutspb</a>
                <a href="www.facebook.com/comingoutspb" target="_blank">www.facebook.com/comingoutspb</a>
            </div>

            <div class="content" ng-show="$ctrl.contact == 'action'">
                Психологическая помощь для ЛГБТ, в том числе и живущих с ВИЧ, профилактика ВИЧ, гепатитов и ИППП
                <a href="center-action.org" target="_blank">center-action.org</a>
                <a href="vk.com/center_action" target="_blank">vk.com/center_action</a>
                <a href="www.facebook.com/comingoutspb" target="_blank">www.facebook.com/comingoutspb</a>
            </div>

            <div class="content" ng-show="$ctrl.contact == 'lgbtiq'">
                Психологические консультации и группы поддержки для различных групп ЛГБТКИА
                <a href="resourcerus.org/ru/glavnaya" target="_blank">resourcerus.org/ru/glavnaya</a>
                <a href="vk.com/resurslgbtmsk" target="_blank">vk.com/resurslgbtmsk</a>
                <a href="www.facebook.com/resurs.lgbtkia.moscow" target="_blank">www.facebook.com/resurs.lgbtkia.moscow</a>
            </div>
        </div>
    </div>
</div>