<div class="main-container contacts-screen">
    <home></home>
    <div class="contacts-screen">
        <div class="left-block">
            <ol class="contacts-list">
                <li>
                    <p class="title">«Дети-404»</p>
                    Общественный интернет-проект поддержки гомосексуальных, бисексуальных и трансгендерных подростков
                    <a href="vk.com/deti404_v4" target="_blank">vk.com/deti404_v4</a>
                    <a href="www.facebook.com/children.404" target="_blank">www.facebook.com/children.404</a>
                    <a href="deti-404.com" target="_blank">deti-404.com</a>
                </li>
                <li>
                    <p class="title">«Твоя территория»</p>
                    Психологическая помощь онлайн для подростков и молодежи до 23 лет
                    <a href="helpteens.ru" target="_blank">helpteens.ru</a>
                    <a href="vk.com/bf_tvoya_territoria" target="_blank">vk.com/bf_tvoya_territoria</a>
                    <a href="www.facebook.com/tvoyaterritoria.online" target="_blank">www.facebook.com/tvoyaterritoria.online</a>
                </li>
                <li>
                    <p class="title">Всероссийская служба детского телефона доверия </p>
                    8-800-2000-122 (круглосуточно)
                </li>
                <li>
                    <p class="title">Линия помощи «Дети онлайн»</p>
                    Любые виды помощи и консультаций для детей, которые столкнулись с опасностью или негативной ситуацией во время пользования Интернетом или мобильной связью
                    <br>
                    8-800-25-000-15 (по будням с 9:00 до 18:00)
                    <a href="detionline.com" target="_blank">detionline.com</a>
                </li>
                <li>
                    <p class="title">Первый всероссийский бесплатный телефон доверия для женщин, подвергшихся домашнему насилию (при поддержке центра «АННА»)</p>
                    8-800-7000-600 (ежедневно с 9:00 до 21:00)
                </li>
                <li>
                    <p class="title">«Насилию.нет»</p>
                    Информационный портал о домашнем насилии, интерактивная карта помощи по кризисным центрам для женщин и соответствующее мобильное приложение
                    <a href="nasiliu.net" target="_blank">nasiliu.net</a>
                </li>
                <li>
                    <p class="title">ИНГО «Кризисный центр для женщин» (СПб)</p>
                    Кризисный центр для женщин, переживших домашнее/партнерское или сексуальное насилие <br>
                    Телефон доверия - 8-812-327-30-00 (по будням с 11:00 до 18:00)
                    <a href=crisiscenter.ru" target="_blank">crisiscenter.ru</a>
                    <a href="www.facebook.com/crisiscenterspb" target="_blank">www.facebook.com/crisiscenterspb</a>
                </li>
                <li>
                    <p class="title">Центр «Сёстры» (Мск)</p>
                    Независимый благотворительный Центр помощи пережившим сексуальное насилие <br>
                    Телефон доверия - 8-499-901-02-01 (по будням с 10:00 до 20:00)
                    <a href=vk.com/sistershelp1994" target="_blank">vk.com/sistershelp1994</a>
                    <a href="www.facebook.com/syostri1994" target="_blank">www.facebook.com/syostri1994</a>
                </li>
                <li>
                    <p class="title">«Российская ЛГБТ-Сеть»</p>
                    Крупнейшая в России межрегиональная ЛГБТ-организация <br>
                    Горячая линия - 8-800-555-73-74 (ежедневно с 15:00 до 21:00)
                    <a href=www.lgbtnet.org" target="_blank">www.lgbtnet.org</a>
                    <a href="vk.com/lgbtrussia" target="_blank">vk.com/lgbtrussia</a>
                    <a href="www.facebook.com/lgbtnet" target="_blank">www.facebook.com/lgbtnet</a>
                </li>
                <li>
                    <p class="title">«Родительский клуб» (СПб)</p>
                    Программа ЛГБТ-инициативной группы "Выход", направленная на поддержку родителей и семей лесбиянок, геев, бисексуалок/бисексуалов и трансгендеров

                    <a href=comingoutspb.com/programmy/roditelskiy-klub" target="_blank">comingoutspb.com/programmy/roditelskiy-klub</a>
                    <a href="vk.com/rklgbt" target="_blank">vk.com/rklgbt</a>
                    <a href="www.facebook.com/rklgbt" target="_blank">www.facebook.com/rklgbt</a>
                </li>
            </ol>
        </div>
    </div>
</div>