.main-container {
    &.quiz-start {
        background: url(img/quiz/start-screen/start-bg.png) no-repeat;

        .left-block {
            top: 135px;
            left: 170px;
            width: 455px;
            height: 323px;
            overflow-y: auto;
            padding-right: 25px;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: #666;
                border-radius: 20px;
            }

            &::-webkit-scrollbar-track {
                background: #ddd;
                border-radius: 20px;
            }
        }

        .right-block {
            width: 350px;
            top: 490px;
            right: -35px;
            text-align: center;

            .startBtn {
                width: 131px;
                height: 58px;
                display: inline-block;
                font-size: 29px;
                padding-left: 20px;
                padding-top: 3px;
                text-align: center;

                &:hover {
                    background: url(img/quiz/start-screen/start-btn.png) no-repeat left center;
                }
            }
        }
    }
}