.main-container {
    &.quiz-sources {
        background: url(img/quiz/sources/sources-bg.png) no-repeat;


        input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        .control__indicator {
            top: 2px;
            left: 0;
            width: 20px;
            height: 20px;
            background: #e6e6e6;
            border-radius: 50%;
        }

        input:checked ~ .control__indicator {
            background: #2aa1c0;
        }

        label {
            cursor: pointer;
        }

        .resources-about {
            left: 380px;
            top: 60px;
        }

        .left-block {
            width: 210px;
            top: 120px;
            left: 155px;

            span {
                max-width: 165px;
            }

        }

        .right-block {
            width: 250px;
            top: 50px;
            right: 100px;

            .resource-type {
                .row {
                    height: 80px;
                }

                .help-btn {
                    top: -5px;
                }
            }

            span {
                max-width: 190px;
            }
        }

        .options {
            //width: 75px;
            //height: 24px;
            display: inline-block;
            float: right;
            //background: url(img/quiz/sources/radio-btn.svg);
        }

        .resource-type {
            position: relative;

            span {
                display: inline-block;
                font-family: B52, Georgia, serif;
                font-size: 22px;
                line-height: 20px;
            }

            .row {
                height: 40px;
                position: relative;
            }

            .help-btn {
                left: -50px;
                top: -10px;
            }


        }

        h3 {
            font-family: B52, Georgia, serif;
            font-size: 22px;
            padding: 9px 10px 0;
            margin-left: -12px;
            margin-bottom: 30px;
        }

        titlebg {
            position: absolute;
            top: 0;
            left: -75px;

            svg {
                width: 215px;
                height: auto;
            }
        }

        .age {
            .options {
                position: absolute;
                right: -6px;
                top: 0;
                background: none;
                width: auto;

                input {
                    display: none;
                }

                .age-bg {
                    border-radius: 50%;
                    background: #e8c551;
                    box-shadow: 5px 5px 5px rgba(0,0,0,0.75);
                }

                label {
                    width: 47px;
                    height: 47px;
                    display: inline-block;
                    font-family: B52, Georgia, serif;
                    font-size: 22px;
                    line-height: 48px;
                    box-sizing: border-box;
                    padding-left: 13px;
                    margin-left: 5px;
                    cursor: pointer;

                    &:hover {
                        .age-bg;
                    }
                }
            }
        }

        .openness {
            h3 {
                padding-top: 13px;
            }

            svg {
                width: 245px;
            }
        }

        .common {
            h3 {
                text-align: right;
                padding: 18px 20px 0 0;
            }

            titlebg {
                right: -50px;
                left: auto;

                svg {
                    width: 310px;
                }
            }
        }
    }
}