@font-face {
  font-family: 'B52';
  src: url('fonts/B52.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  height: 100%;
}
p,
span,
ul,
ol {
  font-family: Cambria, Georgia, serif;
  font-size: 20px;
}
.hidden {
  display: none;
}
.ngdialog-overlay {
  background: none;
}
main {
  width: 100%;
  min-height: 768px;
  height: 100%;
  background: url(img/bg.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 60px;
  box-sizing: border-box;
}
main .home-btn {
  width: 101px;
  height: 92px;
  position: absolute;
  cursor: pointer;
  top: 115px;
  left: -68px;
  z-index: 10;
}
main .home-btn:hover {
  background: url(img/elements/home-hover.png);
}
main .container {
  width: 847px;
  height: 653px;
  margin: auto;
  position: relative;
}
.main-container {
  width: 847px;
  height: 653px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
}
.main-container .left-block {
  position: absolute;
  top: 160px;
  left: 50px;
}
.main-container .right-block {
  position: absolute;
  top: 160px;
  right: 50px;
}
.main-container .btn {
  text-align: left;
  font-family: B52, Georgia, serif;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.main-container .help-btn {
  width: 54px;
  height: 56px;
  position: absolute;
  box-sizing: border-box;
  padding-top: 4px;
  text-align: center;
  cursor: pointer;
}
.main-container .help-btn:hover {
  background: url(img/elements/reference-hover.png) no-repeat;
  transition: .5s;
}
.main-container .prev,
.main-container .next {
  width: 67px;
  height: 57px;
  position: absolute;
  bottom: 60px;
}
.main-container .prev.disabled,
.main-container .next.disabled {
  cursor: default;
}
.main-container .prev.disabled:hover,
.main-container .next.disabled:hover {
  background: none;
}
.main-container .prev {
  left: 23px;
  text-align: right;
}
.main-container .prev:hover {
  background: url(img/elements/arrow-left-hover.png) no-repeat;
}
.main-container .next {
  right: 10px;
}
.main-container .next:hover {
  background: url(img/elements/arrow-right-hover.png) no-repeat;
}
.ngdialog-close {
  width: 39px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  background: url(img/elements/close-btn.png) no-repeat;
  bottom: 35px;
  left: 25px;
}
.ngdialog-close:hover {
  background: url(img/elements/close-btn-hover.png);
}
.ngdialog-close:before {
  display: none;
}
.main-container.main-screen {
  background: url(img/bg-start-page.png);
}
.main-screen .left-block .btn {
  width: 195px;
  min-height: 52px;
  display: block;
  font-size: 29px;
  margin: 40px 0;
  padding-left: 15px;
}
.main-screen .left-block .btn:hover {
  background: url(img/elements/btn-hover.png);
  transition: .5s;
}
.main-screen .right-block .help-btn.about-btn {
  right: 125px;
  top: 35px;
}
.main-screen .right-block .help-btn.broshure {
  right: 240px;
  top: 315px;
}
.ngdialog-content {
  width: 463px;
  height: 643px;
  margin: auto;
  position: relative;
  background: url(img/modal-bg-start-page.png);
  padding: 50px 60px 100px 50px;
  box-sizing: border-box;
}
.main-container.contacts-screen {
  background: url(img/contacts/bg-contacts.png) no-repeat;
}
.main-container.reminders {
  background: url(img/memos/bg-memo.png) no-repeat;
}
.main-container.quiz-start {
  background: url(img/quiz/start-screen/start-bg.png) no-repeat;
}
.main-container.quiz-start .left-block {
  width: 350px;
}
.main-container.quiz-start .left-block .help-btn.about-btn {
  right: 0;
  top: -50px;
}
.main-container.quiz-start .right-block {
  width: 350px;
  top: 330px;
  text-align: center;
}
.main-container.quiz-start .right-block .startBtn {
  width: 131px;
  height: 58px;
  display: inline-block;
  font-size: 29px;
  padding-left: 20px;
  padding-top: 5px;
}
.main-container.quiz-start .right-block .startBtn:hover {
  background: url(img/quiz/start-screen/start-btn.png) no-repeat left center;
}
.ngdialog-content {
  width: 463px;
  height: 643px;
  margin: auto;
  position: relative;
  background: url(img/modal-bg-start-page.png);
  padding: 50px 60px 100px 50px;
  box-sizing: border-box;
}
.main-container.quiz-character {
  background: url(img/quiz/choose/choosing-character-bg.png) no-repeat;
}
.main-container.quiz-character .about-choose {
  position: absolute;
  left: 419px;
  top: 70px;
}
.main-container.quiz-character .characters-block {
  position: absolute;
  bottom: 40px;
  left: 125px;
}
.main-container.quiz-character .character-block {
  width: 150px;
  height: 335px;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}
.main-container.quiz-character .character-block a {
  display: block;
}
.main-container.quiz-character .character-block span {
  display: inline-block;
  font-family: B52, Georgia, serif;
  font-size: 22px;
  line-height: 20px;
}
.main-container.quiz-character .character-block .description {
  width: 150px;
  height: 43px;
  position: absolute;
  bottom: 0;
}
.main-container.quiz-character .character-block .help-btn {
  width: 54px;
  display: inline-block;
}
.main-container.quiz-character .character-block .girl {
  width: 152px;
  height: 268px;
}
.main-container.quiz-character .character-block .girl:hover,
.main-container.quiz-character .character-block .girl.active {
  background: url(img/quiz/choose/lgbtk-girl-hover.png) no-repeat center center;
}
.main-container.quiz-character .character-block .friend {
  width: 155px;
  height: 274px;
}
.main-container.quiz-character .character-block .friend:hover,
.main-container.quiz-character .character-block .friend.active {
  background: url(img/quiz/choose/friend-hover.png) no-repeat center center;
}
.main-container.quiz-character .character-block .parent {
  width: 156px;
  height: 287px;
}
.main-container.quiz-character .character-block .parent:hover,
.main-container.quiz-character .character-block .parent.active {
  background: url(img/quiz/choose/parent-hover.png) no-repeat center center;
}
.main-container.quiz-character .character-block .helper {
  width: 150px;
  height: 292px;
}
.main-container.quiz-character .character-block .helper:hover,
.main-container.quiz-character .character-block .helper.active {
  background: url(img/quiz/choose/helper-hover.png) no-repeat center center;
}
.main-container.quiz-character .character-block:first-child span {
  width: 90px;
}
.main-container.quiz-character .character-block:last-child span {
  width: 120px;
}
.main-container.quiz-character .character-block:nth-child(2) {
  margin-left: 5px;
}
.main-container.quiz-sources {
  background: url(img/quiz/sources/sources-bg.png) no-repeat;
}
.main-container.quiz-sources .resources-about {
  left: 380px;
  top: 60px;
}
.main-container.quiz-sources .left-block {
  width: 265px;
  top: 120px;
  left: 130px;
}
.main-container.quiz-sources .left-block span {
  max-width: 165px;
}
.main-container.quiz-sources .right-block {
  width: 320px;
  top: 50px;
  right: 82px;
}
.main-container.quiz-sources .right-block .resource-type .row {
  height: 80px;
}
.main-container.quiz-sources .right-block .resource-type .help-btn {
  top: -5px;
}
.main-container.quiz-sources .right-block span {
  max-width: 225px;
}
.main-container.quiz-sources .resource-type {
  position: relative;
}
.main-container.quiz-sources .resource-type span {
  display: inline-block;
  font-family: B52, Georgia, serif;
  font-size: 22px;
  line-height: 20px;
}
.main-container.quiz-sources .resource-type .row {
  height: 40px;
  position: relative;
}
.main-container.quiz-sources .resource-type .help-btn {
  left: -50px;
  top: -10px;
}
.main-container.quiz-sources h3 {
  font-family: B52, Georgia, serif;
  font-size: 22px;
  padding: 9px 10px 0;
}
.main-container.quiz-sources titlebg {
  position: absolute;
  top: 0;
  left: -50px;
}
.main-container.quiz-sources titlebg svg {
  width: 215px;
  height: auto;
}
.main-container.quiz-sources .age .options {
  position: absolute;
  right: 30px;
  top: 0;
}
.main-container.quiz-sources .age .options input {
  display: none;
}
.main-container.quiz-sources .age .options .age-bg {
  border-radius: 50%;
  background: #e8c551;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}
.main-container.quiz-sources .age .options label {
  width: 47px;
  height: 47px;
  display: inline-block;
  font-family: B52, Georgia, serif;
  font-size: 22px;
  line-height: 48px;
  box-sizing: border-box;
  padding-left: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.main-container.quiz-sources .age .options label:hover {
  border-radius: 50%;
  background: #e8c551;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}
.main-container.quiz-sources .openness h3 {
  padding-top: 13px;
}
.main-container.quiz-sources .openness svg {
  width: 245px;
}
.main-container.quiz-sources .common h3 {
  text-align: right;
  padding: 18px 20px 0 0;
}
.main-container.quiz-sources .common titlebg {
  right: -50px;
  left: auto;
}
.main-container.quiz-sources .common titlebg svg {
  width: 310px;
}
.main-container.quiz-calc {
  background: url(img/quiz/type-of-violence/type-of-violence-bg.png) no-repeat;
}
.main-container.quiz-calc .left-block {
  left: 90px;
  top: 177px;
}
.main-container.quiz-calc .left-block a {
  height: 45px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  padding-top: 5px;
}
.main-container.quiz-calc .left-block .row:nth-child(2) {
  margin-top: 50px;
}
.main-container.quiz-calc .left-block .row:last-child {
  margin-top: 53px;
}
.main-container.quiz-calc .left-block .sex {
  width: 64px;
}
.main-container.quiz-calc .left-block .sex:hover {
  background: url(img/quiz/type-of-violence/sex-hover.png) no-repeat center top;
}
.main-container.quiz-calc .left-block .age {
  width: 109px;
}
.main-container.quiz-calc .left-block .age:hover {
  background: url(img/quiz/type-of-violence/age-hover.png) no-repeat center top;
}
.main-container.quiz-calc .left-block .orientation {
  width: 141px;
}
.main-container.quiz-calc .left-block .orientation:hover {
  background: url(img/quiz/type-of-violence/orientation-hover.png) no-repeat center top;
}
.main-container.quiz-calc .left-block .openness {
  width: 151px;
}
.main-container.quiz-calc .left-block .openness:hover {
  background: url(img/quiz/type-of-violence/openness-hover.png) no-repeat center top;
}
.main-container.quiz-calc .left-block .isolation {
  width: 142px;
}
.main-container.quiz-calc .left-block .isolation:hover {
  background: url(img/quiz/type-of-violence/isolation-hover.png) no-repeat center top;
}
.main-container.quiz-calc .left-block .common {
  width: 221px;
  text-align: left;
  padding-left: 15px;
}
.main-container.quiz-calc .left-block .common:hover {
  background: url(img/quiz/type-of-violence/common-hover.png) no-repeat center top;
}
.main-container.quiz-calc .right-block {
  width: 321px;
}
.main-container.quiz-calc .right-block a {
  display: block;
  text-decoration: none;
  text-align: right;
  color: #000;
}
.main-container.quiz-calc a {
  font-family: B52, Georgia, serif;
  font-size: 22px;
}
