<div class="main-container quiz-sources-about">
    <home></home>
    <div class="controls">
        <a href="#!/quiz-character" class="prev">
            <img src="source/img/elements/arrow-left.png">
        </a>

        <a href="#!/sources"
           class="next">
            <img src="source/img/elements/arrow-right.png">
        </a>
    </div>

    <div class="left-block">

        <p>
            Ситуацию насилия над человеком неверно, а то и опасно рассматривать вне
            ее/его актуального состояния, возможностей и условий жизни. Однако мы редко
            задумываемся о том, насколько различаются фоновые ситуации у разных людей,
            и поэтому склонны приписывать им некоторый стереотипный набор ресурсов.
        </p>
        <p>
            На этой странице можно изменить «настройки по умолчанию», обратив внимание
            на особенности своего жизненного фона и состояния (если отвечает сама
            ЛБТИК-девушка), или же жизненного фона и состояния Вашей подруги, дочери,
            ученицы или клиентки исходя из ее рассказов и из своих наблюдений. Для
            этого мы предлагаем заполнить опросник, в большинстве пунктов которого
            разброс вариантов ответа представлен цветовыми шкалами от Зеленого цвета к
            Красному.
        </p>
        <p>
            Другу, Родителю и Помогающему практику: имейте в виду, что Ваше видение
            ситуации может расходиться с тем, как понимает свои возможности и силы сама
            девушка, находящаяся в ситуации насилия. В ряде пунктов Вам предстоит
            отметить то, насколько именно девушке, а не лично Вам, видится какая-то
            сфера ее жизни комфортной и удовлетворяющей ее запросам. Если Вы не знаете
            ее мнения на этот счет или не уверены в своем понимании обстоятельств,
            выбирайте Желтый пункт на соответствующей шкале - «не знаю»/«сложно
            сказать».
        </p>
        <p>
            Отметим, что это не тест и не универсальный список факторов риска, а скорее
            повод поразмыслить о том, какие условия могут влиять на возможности
            человека в ситуации насилия справляться со стрессом, искать или получать
            помощь. Комментарии к тому раскладу, который у Вас получится, можно увидеть
            на следующей странице.
        </p>


    </div>

</div>