<div class="main-container quiz-sources-about">
    <home></home>
    <div class="controls">
        <a href="#!/quiz-character" class="prev">
            <img src="source/img/elements/arrow-left.png">
        </a>

        <a href="#!/sources"
           class="next">
            <img src="source/img/elements/arrow-right.png">
        </a>
    </div>

    <div class="left-block">

        <p>Ситуацию насилия над человеком сложно рассматривать вне ее/его состояния, возможностей и условий жизни. Подумайте над особенностями жизненных обстоятельств ЛБТИК-девушки, подвергшейся насилию, заполнив опросник на следующей странице. Комментарии к вашим ответам вы увидите далее.</p>

        <p>Опросник состоит из 13 пунктов, и в большинстве из них варианты ответов представлены в виде цветовых шкал от зеленого цвета к красному. Чтобы прочитать подробнее о вариантах ответов к какому-либо пункту, кликните на знак вопроса рядом с ним. Данный опросник не является психологическим тестом и его нельзя использовать в целях диагностики.</p>

        <p><b>ЛБТИК-девушке:</b></p>
        <p>Отвечая на вопросы, оцени свое состояние и свой жизненный фон. Если ты не уверена в своем ответе, ты можешь выбрать желтый квадрат на цветовой шкале («не знаю»/«сложно сказать»). </p>

        <p><b>Другу, Родителю и Помогающему практику:</b></p>
        <p>Оцените состояние и жизненный фон своей подруги, дочери, ученицы или клиентки, подвергшейся насилию. В ряде пунктов  нужно отметить то, насколько <b>именно девушке, а не лично вам</b>, видится какая-то сфера ее жизни комфортной и удовлетворяющей ее запросам. Ваше видение ситуации может отличаться. Если вы не знаете ее мнения на какой-либо счет или не уверены в своей оценке, выберите желтый квадрат на цветовой шкале («не знаю»/«сложно сказать»).</p>



    </div>

</div>