<div class="main-container comments">
    <home></home>
    <bookmark></bookmark>
    <div class="controls">
        <a href="#!/strategies" class="prev">
            <img src="source/img/elements/arrow-left.png">
        </a>

        <a href="#!/feedback" class="next">
            <img src="source/img/elements/arrow-right.png">
        </a>
    </div>

    <div class="left-block">
        <a href
           class="btn activist-comment"
           ng-click="$ctrl.clickToOpenComments()">Прочесть комментарии</a>
    </div>

    <div class="right-block">
        <a href
           class="btn letters"
           ng-click="$ctrl.clickToOpenLetters()">Прочесть письма</a>
    </div>

    <!--todo: show chosen type of vilonce-->
    <!--<div class="right-block ">-->
        <!--<div class="title">Партнерское насилие</div>-->
    <!--</div>-->



</div>