<div class="main-container quiz-start">
    <home></home>

    <div class="left-block">
        <p>Основные типы насилия, с которыми имеет высокий риск столкнуться ЛБТИК-девушка - это домашнее насилие, партнерское насилие, сталкинг, корректирующее изнасилование, буллинг и насилие со стороны помогающих специалистов. Помимо самой пострадавшей, в ситуацию насилия зачастую оказываются вовлечены определенные люди из ее окружения, которые хотят ее поддержать и помочь ей. Это ее подруги и друзья, ее родители и другие родственники, ее психолог, учитель или соцработник.</p>


        <p>В этом мини-квесте вам предстоит взглянуть на проблему насилия глазами ЛБТИК-девушки, Друга, Родителя или Помогающего практика, и пройти несколько этапов в разных жизненных ситуациях: оценить текущую ситуацию, разобраться во влияющих на нее факторах и выработать свои стратегии выживания в ситуации насилия. Попутно вы узнаете о первой помощи, способах справляться со стрессом, самозащите и взаимной поддержке.</p>

    </div>

    <div class="right-block">

        <a href="#!/quiz-character" class="btn startBtn">Начать</a>

    </div>

</div>