<div class="main-container feedback">
    <home></home>
    <bookmark></bookmark>
    <div class="controls">
        <a href="#!/comments" class="prev">
            <img src="source/img/elements/arrow-left.png">
        </a>
    </div>

    <div class="left-block">

    </div>


    <div class="right-block ">
        <h3>Обратная связь</h3>
        <form action="../../../sendToSos.php" method="post">
        <!--<form ng-submit="$ctrl.onSubmit()">-->
            <textarea name="text" ng-model="$ctrl.text" id="text" type="text" cols="30" rows="10" placeholder="Поле для ввода текста"></textarea>
            <input class="btn"
                   type="submit" id="submit" value="Отправить">
            </input>
        </form>
    </div>



</div>